<Modal @manager={{@manager}}>
  {{! template-lint-disable no-autofocus-attribute }}

  {{#let (unique-id) as |formId|}}
    <header>
      <h1>Example Form Modal Dialog</h1>
      <button type="button" {{on "click" @manager.cancel}}>&cross;</button>
    </header>

    <article>
      <form id={{formId}} method="dialog" {{on "submit" this.confirmFormData}}>
        {{#let (unique-id) as |id|}}
          <label for={{id}}>First name:</label>
          <input id={{id}} name="first-name" required autofocus>
        {{/let}}

        {{#let (unique-id) as |id|}}
          <label for={{id}}>Last name:</label>
          <input id={{id}} name="last-name" required>
        {{/let}}
      </form>

      <p><em>Data is client side only.</em></p>
    </article>

    <footer>
      <button type="button" {{on "click" @manager.cancel}}>
        Cancel
      </button>
      <button class="primary" type="submit" form={{formId}}>
        Confirm
      </button>
    </footer>
  {{/let}}
</Modal>
