{{page-title "Ember ModalManager DEMO"}}

<h1>Ember ModalManager DEMO</h1>

{{#let (tracked-state) as |lastResult|}}
  {{#let
    (modal-manager onCancelled=lastResult.set onConfirmed=lastResult.set onRejected=lastResult.set)
    (modal-manager onCancelled=lastResult.set onConfirmed=lastResult.set onRejected=lastResult.set)
    (modal-manager onCancelled=lastResult.set onConfirmed=lastResult.set onRejected=lastResult.set)
    as |simpleExample confirmExample formExample|
  }}
    <dl>
      <dt>Reason:</dt>
      <dd><data>{{lastResult.value}}</data></dd>
      <dt>Value:</dt>
      <dd><data>{{lastResult.value}}</data></dd>
    </dl>

    <div id="open-buttons" class="button-group">
      <button type="button" {{on "click" simpleExample.open}}>
        Open simple example
      </button>
      <button type="button" {{on "click" confirmExample.open}}>
        Open yes/no example
      </button>
      <button type="button" {{on "click" formExample.open}}>
        Open form based example
      </button>
    </div>

    {{#if simpleExample.isOpen}}
      <Modals::SimpleExample @manager={{simpleExample}} />
    {{/if}}

    {{#if confirmExample.isOpen}}
      <Modals::ConfirmExample @manager={{confirmExample}} />
    {{/if}}

    {{#if formExample.isOpen}}
      <Modals::FormExample @manager={{formExample}} />
    {{/if}}

  {{/let}}
{{/let}}

<Modal::PortalTarget />